<div class="center">

  <div class="page-header">
    <h1 >Регистрация</h1>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>



      <div class="field">
       <%= f.label :email %> </br>
        <%= f.email_field :email %>

      </div>

      <div class="field">
        <label for="user_password">Пароль  <em>(миннимум 8 символов)</em> </label></br>

        <% if @minimum_password_length %>

        <% end %>
        <input autocomplete="off" type="password" name="user[password]" id="user_password">
      </div>


      <div class="field">
        <label for="user_password_confirmation">Підтвердження пароля </label> </br>
        <input autocomplete="off" type="password" name="user[password_confirmation]" id="user_password_confirmation">
      </div>

      <div class="actions">
        <%= f.submit "Зарегестрироватся", class: "btn btn-large btn-primary"  %>
      </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>