<h1>
  <%= @article.title %>
</h1>
<p>
  <%= @article.content %>
</p>
<p>
    <%= link_to @article.filename , @article.filelink   %>
</p>
<p>
  <%= link_to @article.test_name , @article.test_link   %>
</p>

<div class="btn-group">
  <%= link_to "Back", root_path, class: "btn btn-default" %>
  <% if current_user.try(:admin?) %>
      <%= link_to "Edit", edit_article_path(@article), class: "btn btn-default" %>
      <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
  <% end %>
</div>
